.list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  &__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px 50px;
    background-color: #819f9e;
    border-radius: 40px;
    margin-right: 30px;
    margin-bottom: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    font-size: 28px;
    font-weight: 400;
    padding: 0 20px;
    height: 60px;
    color: #463d3d;
    background-color: #efe2e2;
  }
  &__ream {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }
  &__items {
    display: flex;
    align-items: center;
    p {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 40px;
      font-size: 24px;
      font-weight: 400;
      padding: 0 20px;
      height: 60px;
      color: #463d3d;
      background-color: #efe2e2;
      margin-right: 6px;
    }
  }
  &__button {
    background: none;
    border: none;
    img {
      cursor: pointer;
      width: 60px;
      height: 60px;
    }
  }
}
